<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Finder</string>
	<key>connections</key>
	<dict>
		<key>288E8D35-F1A2-421A-9EFD-A5BD0F47948E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Pócs [Royaljerry]</string>
	<key>description</key>
	<string>Create a project folder structure based on the selected text file</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Create Project</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>python create.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.plain-text</string>
				</array>
				<key>name</key>
				<string>Create Folder Structure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>288E8D35-F1A2-421A-9EFD-A5BD0F47948E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Folders Created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Create Folder Structure
v1.0.1

This script creates a folder structure defined in a text file.


#########
# USAGE #
#########

Select the definition text file, then open Alfred, and run “Create Folder Structure”.

1) Definition File Syntax

Create an UTF-8 encoded text file (e.g. in TextEdit), and start typing folder names, row by row, one after another. Each one must be placed in a unique row. If a subfolder is required, just indent it with a tab. Folder names can contain any legal characters the OS X supports.

Example:

First Folder
Second Folder
	First Subfolder of Second Folder
	Second Subfolder of Second Folder
		First Subsubfolder of Second Subfolder
Third Folder

2) Metanames

%date% - Creates a folder named after the current date.


############
# FEEDBACK #
############

Feel free to contact me at

royaljerry@gmail.com
http://www.facebook.com/royaljerry</string>
	<key>uidata</key>
	<dict>
		<key>288E8D35-F1A2-421A-9EFD-A5BD0F47948E</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.royaljerry.net/</string>
</dict>
</plist>
